
*{
    box-sizing: border-box;
}
div {
    white-space: pre-wrap;
}
.header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.header img{
    padding: 2% 3% 2% 1%;
    width: 11%;
}
.header input{
    height: 30px;
    width: 40%;

}

.sub_header{
     display: flex;
    justify-content: space-between; 
    width: 51%;
    padding-left: 11%;

}
.sub_header .result_type{
    display: flex;
    justify-content: space-between;
    width: 65%;
}
.sub_header .tool{
    display: flex;
    justify-content: space-between;
    width: 20%;

}
.sub_header div div a{
    color: #5b5f63;
    text-decoration: none;
}

.line{
    border-bottom: solid 1px #1d1b1b1c;
    margin-top: 15px;
}

.result{
    width: 51%;
    padding-left: 11%;
    display: flex;
    flex-direction: column;

}
.result .para_line1{
    color:#2f2fa7;
    font-size: 20px;
}
.result .para_line2{
    color:green;
}
.result .para_line3{
    color:#615b5b; 
}
.result .para_line4{
    color:#2f2fad; 
}

